<!DOCTYPE html>
<html ng-app="ticTacToeApp">
<meta charset="utf-8">
<link rel="stylesheet" href="styles/skeleton.css"/>
<link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="styles/main.css"/>
<link rel="stylesheet" href="styles/normalize.css"/>
<title>Tic Tac Toe</title>
<body ng-controller="BoardController as board" id="{{themeSelector}}-bg">
<div id="wrapper">
    <a href="https://github.com/rysmith/tic-tac-toe"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div id="options">
        <button class="button button-primary btn-left" id="{{themeSelector}}-btn" ng-click="board.startNewGame()">Start New Game</button>
        <button class="button button-primary" id="{{themeSelector}}-btn" ng-click="board.clearAllWins()">Clear Win Count</button>
        <select name="Choose a Theme" ng-model="themeSelector" class="{{themeSelector}}-border">
            <option value="">Choose a theme</option>
            <option value="monterey">Monterey Bay</option>
            <option value="tahoe">Lake Tahoe</option>
            <option value="cruz">Santa Cruz</option>
            <option value="sf">San Francisco</option>
            <option value="lg">Los Gatos</option>
            <option value="sunlight">Sunlight</option>
            <option value="break">Break Off Effect</option>
        </select>
        <div class="game-alert" ng-class="{gameAlert:board.gameAlert}"><i class="fa fa-flag" ></i> {{board.playerAlert}}</div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="one-half column colOne" id="{{themeSelector}}-colOne">

            <div class="winner-result {{themeSelector}}-border">
                <p>
                    <i class="fa fa-trophy"></i> The <strong>winner</strong> of the current game is: {{board.game.winner}} <br>
                    <i class="fa fa-times"></i> <strong>Player One</strong> wins: {{board.game.playerOneWinCount}} <br>
                    <i class="fa fa-circle-o"></i> <strong>Player Two</strong> wins: {{board.game.playerTwoWinCount}}
                </p>
            </div>
            <div class="instructions">

                <hr/>

                <h5><i class="fa fa-info-circle"></i> Instructions</h5>
                <p>
                Player One uses the '<i class="fa fa-times"></i>' game pieces.  Player Two uses the '<i class="fa fa-circle-o"></i>' game pieces.  Player One goes first by placing a game piece on the board.  Click a particular square to place a game piece.  Players alternate turns there after.  Once a a square has been played it cannot be changed.  If either player gets three game pieces in a row, the game ends in favor of that player.  If neither player gets three in a row, the game is a tie (cats) game.
                </p>
                <hr/>
            </div>

        </div> <!-- left column end -->

        <!-- right column -->
        <div class="one-half column colTwo" id="{{themeSelector}}-colTwo">
            <div class="gameboard" >
                <div ng-repeat="box in board.game.gameBoard" ng-class="box.class" ng-click="board.playerMove($index); board.checkForWinner()">
                    <div class="box-content">
                        <h1><i class="{{box.content}}"></i></h1>
                    </div>
                </div>
            </div>
        </div> <!-- right column end -->
    </div> <!-- row end -->

    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/firebase.js"></script>
    <script type="text/javascript" src="js/angularfire.js"></script>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/BoardController.js"></script>
</div>
</body>

</html>