/*TODO(ryan): create a page theme*/

body {
    background-color: rgba(34, 34, 34, 0.53);
    padding: 0px;
}

#results {
    float: left;
    background-color: rgba(30, 188, 206, 0.56);
    border-radius: 10px;
    margin-left: 20px;
    padding: 20px;
    width: 400px;
}

.container {
    padding-top:10px;
    margin: 0 auto;
    text-align: center;
    width: 500px;
    background-color: rgba(30, 188, 206, 0.56);
    border-radius: 10px;
    margin-top: 20px;
}

.gameboard {
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}

.first-row {
    border-bottom: 1px solid black;
    height:32.9%;
    width: 32.9%;
    float: left;
}

.second-row {
    border-bottom: 1px solid black;
    height:32.9%;
    width: 32.9%;
    float: left;
}

.third-row {
    height:32.9%;
    width: 32.9%;
    float: left;
}

.first-col {
    border-right: 1px solid black;
    height:32.9%;
    width: 32.9%;
    float: left;
}

.second-col {
    border-right: 1px solid black;
    height:32.9%;
    width: 32.9%;
    float: left;
}

.third-col {
    height:32.9%;
    width: 32.9%;
    float: left;
}