body {
    background-color: rgba(34, 34, 34, 0.53);
    padding: 0px;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    background-color: rgba(30, 188, 206, 0.56);
}

.gameboard {
    width: 500px;
    height: 500px;
    text-align: center;
}

/*TODO(ryan): remove box CSS and apply row and col css to individual boxes*/
.box {
    border: 1px solid black;
    height:30%;
    width: 30%;
    float: left;
}

.first-row {
    border-bottom: 1px solid black;
    height: 100px;
}

.second-row {
    border-bottom: 1px solid black;
    height: 100px;
}

.third-row {
    height: 100px;
    
}

.first-col {
    border-right: 1px solid black;
    width: 100px;
    height: 100px;
}

.second-col {
    border-right: 1px solid black;
    width: 100px;
    height: 100px;
}

.third-col {
    width: 100px;
    height: 100px;
}